[2019-10-18 17:26] kounelios13 opened #2 "integration with angular"
**Describe the bug**
This is not a bug report . However I am wondering if it is possible to use this library with an angular application

[2019-10-19 09:05] joe223 commented on #2
I'm not familiar with with Angular. But this demonstration should be useful.

[code]
https://codesandbox.io/s/angular-5d87x

[2019-10-21 03:25] #2 closed

[2019-10-28 15:55] r0skar opened #3 "Add "destroy" method"
**Is your feature request related to a problem? Please describe.**
Using the swiper in a SPA, the Swiper instances are never destroyed as there are no real page-reloads.

**Describe the solution you'd like**
Implement the `destroy` method from SwiperJS.

**Additional context**
See https://swiperjs.com/api/ for more details on the `destroy` API.

[2019-10-30 07:15] joe223 commented on #3
The challenge for me is that I have to make a trade-off between package size and API richness. We will deviation from purpose if it is too large, it will be useless if lack of important APIs, either.
So, I've thinking of extracting `destroy` events-hub and life hooks (both of them are not completed)  to components, just use them whenever you need. Otherwise, It will grow larger than 3kB someday an

[2019-11-04 02:50] joe223 commented on #3
@northkode You are right, I'll move `destroy` to core API.

[2019-11-05 13:17] joe223 commented on #3
The draft https://github.com/joe223/tiny-swiper/blob/317b3c037b57c56383f0fe74267ea0073720c282/src/index.js#L462-L482

[2019-11-11 13:22] joe223 commented on #3
Resolved at https://github.com/joe223/tiny-swiper/pull/6

[2019-11-11 13:22] #3 closed

[2019-11-25 03:17] jxnx888 opened #8 "Regarding about the lazy load"
**In your project, i did not find the lazy load part, do you have one with lazyload?.**
The lazyload is a very important and useful part, you might have it. [...]

[2019-11-25 03:18] jxnx888 opened #9 "Regarding the lazy load"
**In your project, i did not find the lazy load part, do you have one with lazyload?.**
The lazyload is a very important and useful part, you might have it. [...]

[2019-11-25 03:22] #8 closed

[2019-11-25 03:36] joe223 commented on #9
Do you mean a feature which same with https://swiperjs.com/api/#lazy?

[2019-12-08 09:38] joe223 commented on #9
@jxnx888 https://github.com/joe223/tiny-swiper#lazyload

[2019-12-08 09:38] #9 closed

[2019-12-09 02:05] jxnx888 commented on #9
Thanks dude!

[2019-12-11 02:15] jxnx888 opened #10 "Is it possible that you can intergrate all features into one file"
**Is it possible that you can intergrate all features into one file**
Hi Joe,
I can load specific plugin in my project, but can we just load one file?
I tried to put the plugins into one file, but it did not work.
Thanks!

[2019-12-11 06:24] jxnx888 opened #11 "Regarding some common features"
**Such as slidesPerView, nextButton, prevButton.**
In your project, you only have the Pagination plugin, in Mobile we might use the slidesPerView, nextButton, prevButton.
I think those are the  common features you might have.

[2019-12-11 12:29] joe223 commented on #10
@jxnx888 Would you mind provide a repo for reproducing this problem?

[2019-12-11 12:50] joe223 commented on #11
Thanks for all feedback.

It dose take more time to add  `slidesPerView`,  this will breaks core implementation (I'm trying to keep tiny-swiper smaller than 3kb).

The reason why I didn't create `nextButton` and `prevButton` just because they are too simple —— call `scroll` function（that's all). And, I guess most of user will not use the default nextButton/prevButton style. So it got lower priorit

[2019-12-13 09:18] jxnx888 commented on #11
Yeah, I totaly understand you. Thanks Joe.

[2019-12-13 09:18] jxnx888 commented on #10
sure

[2019-12-13 09:18] jxnx888 opened #12 "Is it possible that you can intergrate all features into one file"
**Is it possible that you can intergrate all features into one file**

Hi Joe,
I can load specific plugin in my project, but can we just load one file?
I tried to put the plugins into one file, but it did not work.
Thanks!

[2019-12-13 12:04] joe223 commented on #12
It duplicate https://github.com/joe223/tiny-swiper/issues/10

[2019-12-13 12:04] #12 closed

[2019-12-15 09:53] joe223 commented on #10
@jxnx888 😂 I mean, show me a repository which reproduce the issue that you can't put plugins into one file.

[2019-12-17 15:41] #10 closed

[2019-12-19 16:05] joe223 opened #14 "Unexpected slide width"
**Describe the bug**
Slide width is less than container‘s.

**Expected behavior**

**Information**
 - Tiny-Swiper Version  v1.2.0
 - OS: Windows
 - Browser Chrome/79.0.3945.79

https://codier.io/creation/BymYF8VYr

[2019-12-19 17:47] dlewand691 commented on #11
2 features that would be key for me is variable height and keyboard controls.

[2019-12-20 02:28] joe223 commented on #11
I guess `variable height` could be implemented by slidesPerView.

@dlewand691 Would you mind to create a new issue for describing the details of keyboard controls?

[2019-12-21 14:41] joe223 commented on #14
Repair version 1.2.1

[2019-12-21 14:41] #14 closed

[2019-12-22 12:02] joe223 commented on #11
- [x] slidesPerView
- [ ] keyboard controls

[2019-12-30 10:19] joe223 commented on #11
@dlewand691 @jxnx888

https://github.com/joe223/tiny-swiper/blob/dev/CHANGELOG.md 1.3.0 released

[2019-12-30 10:19] #11 closed

[2020-01-11 14:48] joe223 opened #16 "Can not integrate loop with freeMode well"
**Is your feature request related to a problem? Please describe.**
loop conflict with freeMode when using CSS translate properties.

**Describe the solution you'd like**
Rebuild tiny-swiper with custom render engine, that decide how tiny-swiper react to user touch/mouse wheel actions.

But this implementation will break tiny-swiper@1 APIs

[2020-02-29 13:04] kilianso opened #17 "Working with translate and progress values."
First of all, I am so happy that I found this repo! Finally a real alternative to Swiper, where even just the core module is huge. Great work!

What I would need to replace Swiper with tiny-swiper in all of my projects is a way to work with the current translate values. Especially during dragging / mousemove. This would make it possible, to build custom parallax effects, progress indicators and mo

[2020-02-29 14:14] joe223 commented on #17
Thanks for the feedback!

Unfortunately we can not get the precise progress during dragging / mousemoving on tiny-swiper@1.x.  But there is an alternative way to get progress after slide action is end.

Check this example https://stackblitz.com/edit/swiper-demo-35-parallax-jmnfwt?file=index.js

I am writing a new version 2 which would be more scalable and functional. It will provides progress APIs

[2020-03-01 18:28] kilianso commented on #17
Oh nice, looking forward to V2! And thank you for the demo 🙌

[2020-03-05 21:08] kilianso commented on #17
One more thing: How would you handle resize events with tiny-swiper? The `update` method seems not to work. A tiny example would be perfect!

[2020-03-07 11:13] joe223 commented on #17
Hi @kilianso ,

Here is the example to resize swiper:
[code]
Check it out https://stackblitz.com/edit/tiny-swiper-resize-demo?file=index.js

Sadly, tiny-swiper not support fade effect (or fade effect plugin) yet. Special effects will come with version 2. I will add fade effect plugin to tiny-swiper@2.x, thanks for your recommends！

[2020-04-05 04:49] utilmind opened #19 "Loop option"
Hello! I would like to have "loop" feature, for infinite sliding. I have checked out the sources and saw "loop" option, which not used anywhere.

Do you plan to implement infinite loop, or would consider to remove odd "loop" option?

[2020-04-06 07:30] kilianso commented on #17
So, how's V2 doing? 😄

[2020-05-13 06:03] utilmind opened #21 "Incorrect detect of touch enabled devices"
Hello! Unfortunately tiny-swiper makes false-positive detection of false enabled device.

Tested in Windows (laptop), using latest Chrome, FireFox, Opera and Edge (honestly tested in all these browsers and all returns "2" for `navigator.maxTouchPoints`). Only IE11 returned "undefined".

Here is, on my opinion, the most reliable way to detect touch enabled device. You may consider of something simi

[2020-08-09 13:45] joe223 commented on #21
Hi @utilmind , Sorry for the late reply. I'm stick on my full-time job this days.

We use Duck Typing in `detectTouch` methods —— It supports touch if this browser has `document.maxTouchPoints` or `window.DocumentTouch` , or `window.ontouchstart`.

That gives us a pretty / fast / sync way to get the support in modern browsers（Without using the single condition）.

Really glad to got your  advise 😁

[2020-09-08 14:42] stigi opened #23 "Unable to subscribe to `before-init` and `after-init` hooks"
**Describe the bug**

One can only subscribe to events when the object is already initialized, and at that point the constructor is done and the events were emitted already. This means they are pretty useless.

**Expected behavior**
Maybe it makes sense to pass the event as kind of _callbacks_ in the config

**Information**
 - Tiny-Swiper Version: 1.3.0
 - OS: all of them
 - Browser: all of them

[2020-09-27 20:24] niklasgrewe opened #26 "Possible to create 3D Coverflow like in SwiperJS?"
Hi, thank you very much for this tiny, fast swiperjs alternative. I am using swiperjs at moment, but i want to switch to tiny-swiper to reduce my app size and improve performance. I am looking to create a 3D Coverflow Effect like this using full swiperjs: https://codepen.io/corvus-007/full/gQEzYW

It is possible to recreate this cool 3D Effect in tiny-swiper? If yes, what do i need to do to get a

[2020-09-28 07:55] joe223 commented on #23
`before-init` and `after-init` was used in plugins frequently. But does not have a major effect for users.

- `before-init` emitted on Swiper instance is created, *but* dose not initialize layout ,listener and so on at that time.
- `after-init` emitted while everything is settled.

Example, we have to inject some custom configuration before instance initialized or change some internal configuratio

[2020-09-29 05:06] stigi commented on #23
Oh I see, Plugins get initialized before the constructor finishes, so they can hook into those events. Makes sense. Thanks for pointing this out 🙏

Some context on my question. We have a use case where we initialize Swiper with an `initialSlide` bigger than 0 and this caused an initial animation on first render. Buy workaround was to set `speed` to 0 when constructing Swiper, and then set it back

[2020-09-29 05:07] stigi commented on #23
(I'll close the issue since since https://github.com/joe223/tiny-swiper/issues/23#issuecomment-699845097 gives a good explanation. Might be worth considering adding the special nature of those hooks to the documentation though).

[2020-09-29 05:07] #23 closed

[2020-10-28 11:03] mittermayr opened #27 "Pagination bullet issue with slidesPerView"
**Describe the bug**
Having 4 slides, setting `slidersPerView=2` and using the pagination plugin leads to 4 bullet points (pagination dots) instead of 2. Moreover, with 2 slides per view displayed, there is no content to scroll to on the right but it still shows two dots indicating that there is.

**Expected behavior**
Dots should represent screens I can swipe to, instead of the individual element

[2020-10-29 03:15] joe223 commented on #27
With the curtly review, I thought we can get `total_dot` value through

[code]

PR always welcomed

[2020-10-30 12:38] joe223 commented on #27
https://github.com/joe223/tiny-swiper/pull/28

[2020-10-30 12:43] #27 closed

[2020-10-30 12:45] mittermayr commented on #27
Beautifully fixed, I just rolled it out and it works a treat. I have a deadline this evening for a hefty website that uses the swiper and I had planned to spend the afternoon trying to figure out a temporary fix — so your update here comes as a fantastic weekend surprise. Thanks again, top work.

[2020-10-30 12:48] joe223 opened #29 "Website docs link not available"
**Describe the bug**
https://tiny-swiper.joe223.com/docs is unaccessible.

**not** https://tiny-swiper.joe223.com/docs/

[2020-10-31 05:13] joe223 commented on #27
@mittermayr I'm glad to hear that. It's also my pleasure. Have a nice weekend !

[2020-11-07 02:42] joe223 opened #32 "RFCs: Tiny-Swiper@2 is coming 🎉"
Checkout branch `dev_2.0` to catch a glimpse of new Tiny-Swiper.

The most important changes：
- Code refactoring of core render
- Add `loop` `freeMode` option
- Custom render is supported, that give us the ability to implement special swipe effect.

Most frustrating:
Tiny-Swiper is no longer 2kb anymore (about 4kb right now) due to the complex render function and miscellaneous options.

[2020-11-30 17:39] #29 closed

[2020-12-01 12:20] RodrigoTomeES opened #34 "Auto option in slidesPerView and navigation"
Hello! I would like to have "auto" option in slidesPerView and navigation feature if it is possible. Thanks!

[2020-12-01 13:09] joe223 commented on #34
@RodrigoTomeES I'd like to tackle this issue, but it's a little bit hard to catch what does 'auto' means.

[2020-12-01 13:21] RodrigoTomeES commented on #34
Sorry for my bad explanation, I was referring to the auto mode that Swiper.js has. https://swiperjs.com/api/

| Slides grid      |                           |     |                                                                                                                         |
|---------------|------------------|---|-------------------------------------------------------------------------

[2020-12-06 19:05] GiorgosK commented on #34
navigation arrows is something that someone would expect from a swiper/slider
+1 for discussing implementing prev/next buttons

[2020-12-07 12:59] joe223 commented on #34
@RodrigoTomeES `slidesPerView: 'auto'` requires refactoring of core module. It may be implemented by next version (2.1.0😁)

The benefits of `auto` is that it allows user to create different size of slides, Am I right?

[2020-12-07 13:08] joe223 commented on #34
@GiorgosK It has not be implemented due to the consideration of core module size. I'm trying to keep it smaller.

Fortunately, I remove pagination module from core package since v2.0. that will help us get rid of the apprehension (although core module grows to 4kb because of complicated `loop`/`freeMode` options).

[2020-12-07 13:23] GiorgosK commented on #34
@joe223 thanks for the answer, but still not clear.  Do we expect the prev/next arrows on version 2 ? any estimate on time ?

[2020-12-07 13:50] joe223 commented on #34
v2.0 is scheduled to come out this Christmas @GiorgosK

[2020-12-07 20:45] pablomercadolibre opened #36 "SwiperPluginKeyboardControl exported incorrectly"
**Describe the bug**
esm version is exporting the incorrect module for SwiperPluginKeyboardControl, you can check [index.esm.js](https://github.com/joe223/tiny-swiper/blob/master/src/index.esm.js#L5)
I've attached a demo for the issue but i think is self-explanatory, i can create a PR if you want, also i'd like yo ask you about v2, have you released any alpha/beta package with v2 so we can give it

[2020-12-08 03:37] joe223 commented on #36
Oh, what a silly mistake! 🙁

@pablomercadolibre I'll be wild glad if you create the fix PR!

Version `2.0.0-alpha.0` is plan to be released this weekend.

[2020-12-08 09:34] RodrigoTomeES commented on #34
Mmmm I never tried to make different size of slides so I don't know. I use it so I don't have to worry about how many slides fit on each screen size.

[2020-12-08 11:49] joe223 commented on #34
https://swiperjs.com/demos/120-slides-per-view-auto.html
https://stackblitz.com/edit/swiper-demo-12-auto-slides-per-view-carousel-mode-sbasfh?file=index.html

I think `auto` option allow user to define different slider size or define slider size through its CSS definition from demo show blow, for example:

[code]

[2020-12-08 14:45] pablomercadolibre commented on #36
Great, i've just created the PR and looking forward for v2, thanks!

[2020-12-09 06:32] #36 closed

[2020-12-13 06:27] joe223 commented on #17
@joe223 Hi, `2.0.0-alpha.0` was released

[2020-12-13 06:27] #16 closed

[2020-12-13 06:28] joe223 commented on #19
@utilmind Hi, `2.0.0-alpha.0` was released

[2020-12-13 16:19] #21 closed

[2020-12-14 16:27] #19 closed

[2020-12-17 07:54] Damaged-Code opened #45 "Should slide with shortcut while using loop mode"
### What is expected?
when loop options is true, slide index = 0, click prev slide swiper should be 0-4.

### What is actually happening?
now the slide swiper is 0-1-2-3-4, click next should same as.

[2020-12-17 21:53] pietrogregorini opened #46 "Mousewheel Swipe Too Fast"
Hey there!
I was checking the new [demos page](https://tiny-swiper.joe223.com/docs/demo/) of the alpha version and I found some strange behavior of the mousewheel navigation on my MacBook Pro 16' using the trackpad. I know that Macs have a very sensible trackpad and sometimes sliders react strangely with them, but the original Swiper somehow can make it work in the right way. I attach a video just

[2020-12-18 15:03] joe223 commented on #46
Hi @pietrogregorini, really appreciate your feedback.

I have fixed it in the latest alpha version. 😃

[2020-12-19 16:50] #45 closed

[2020-12-19 16:51] joe223 commented on #45
Add a new condition `if (shortcut !== defaultWay && !excess)`

[code]

[2020-12-20 23:30] pietrogregorini commented on #46
Hi @joe223! My pleasure! Now it works great 👍
Just wondering... it would be possible also to invert the direction of the slides?
Because on Mac it is common to have the "natural scrolling" which actually behaves in the opposite direction (looks more like a swipe on trackpad than an actual mousewheel).

[2020-12-21 02:36] romanov opened #47 "Try to prevent default behavior while mouse dragging"
**Describe the bug**
See the gif below (recored on https://tiny-swiper.joe223.com/docs/demo/)

https://ibb.co/zZgFxzB

**Expected behavior**
Same as in Chrome (just works)

**Information**
 - Tiny-Swiper Version: as on https://tiny-swiper.joe223.com/docs/demo/
 - OS: Windows 10
 - Browser: Firefox 84.0 64bit
 - Reproduce example：see the above

[2020-12-21 06:39] joe223 commented on #47
Hi, @romanov. Thanks for you feedback and the helpful gif.

Here are two temporary way to fix it:

1. add css style `pointer-events: none;` to `img` tag
2. Or replace `img` tag with another DOM Element, such as `div`. and set its background image

This is the FireFox default behavior (dragging image).  I should prevent it with `event.preventDefault()` in `touchstart`/`mousedown` just likes this de

[2020-12-21 13:18] #47 closed

[2020-12-21 15:31] joe223 commented on #46
@pietrogregorini It still be some kinda confusing to me 😂. Shall we use `invert` option to change the direction of the slides just likes the code show below? Or change the default direction of `mousewheel.invert ` from `false` to `true`?

[code]

I'll be so glad to get your reply :)

[2020-12-21 15:57] pietrogregorini commented on #46
@joe223 That's a good question 😉  Let's see...

If I check the SwiperJS demo page it behaves in the right way. So basically if I move my finger on the trackpad towards the left it moves to the next slide (backward if I move my finger on the right). This is the expected behavior in MacOS which emulates the "natural scrolling" inherited from iOS devices:
https://swiperjs.com/demos/#mousewheel_contro

[2020-12-22 03:02] joe223 opened #48 "Accessibility Support"

[2020-12-22 06:12] HbSunK commented on #26
mark

[2020-12-23 09:06] subhamg commented on #48
a

[2020-12-23 09:07] subhamg commented on #48
a

[2020-12-24 12:55] joe223 commented on #46
@pietrogregorini Windows PC does the totally different interaction ( I don't have Linux laptop to test unfortunately).

I'll change the default behavior but still keeping `invert` option to `false` for compatibility. Besides, keeping the same api with SwiperJS will reduce the cost of usage that makes migration easier.

[2020-12-31 21:12] pietrogregorini commented on #46
@joe223 Okay, there is just one thing to fix actually: the mousewheel by default should take only the direction of the carousel and not the other one. I explain it better: when I scroll down the demo page and I end up over the mousewheel demo, the main navigation is stuck inside the carousel and I can't scroll anymore with the trackpad or the mousewheel, I have to move the cursor outside the carou

[2021-01-03 09:58] narasab opened #49 "Scrolling on .swiper-slide fires "before-slide" and "after-slide" hooks."
**Describe the bug**
In a horizontal swiper (.swiper-slide) scrolling on a slide vertically fires before-slide and after-slide hooks.

**Expected behavior**
Vertical scrolling should not fire slide events in a horizontal swiper.

**Information**
 - Tiny-Swiper Version: 2.0.0-alpha.6

[2021-01-04 12:33] joe223 commented on #49
https://github.com/joe223/tiny-swiper/issues/46#issuecomment-753165787

[2021-01-04 12:33] joe223 commented on #46
https://github.com/joe223/tiny-swiper/issues/49

[2021-01-04 12:33] joe223 commented on #46
https://github.com/joe223/tiny-swiper/issues/49

[2021-01-04 12:41] #49 closed

[2021-01-04 12:48] #46 closed

[2021-01-04 12:49] #32 closed

[2021-01-06 20:51] kilianso commented on #17
Hey @joe223 Great to hear that alpha of V2 has been released. So "scroll" is the distance a slide has been moved right? Any ideas how to achieve a parallax effect with that?

[2021-01-07 15:17] eddneal opened #50 "Navigation plugin not in index.full.js"
Hi I noticed that this is missing, is it intentional?

Great swiper btw, thanks a lot.

[2021-01-10 05:31] joe223 commented on #50
Thanks for the feedback @eddneal

index.full.js maybe deprecated. There are some potential conflicts if loading multiple plugins. For example, there will occur error if two plugins each of them provides different slide effect. So `full.js` may not be really full-featured.

Would you like to make a PR to add navigation to `index.full.js`? 😁

[2021-01-13 12:31] Jarweb opened #51 "some android phone, element.$el.offsetWidth return 0"
**Describe the bug**
![image](https://user-images.githubusercontent.com/13537973/104452514-12b6c280-55de-11eb-9770-ec47921caa76.png)
![image](https://user-images.githubusercontent.com/13537973/104452835-83f67580-55de-11eb-957c-1f5968d834a3.png)

function Measure(options, element) {
  var $el = element.$el;
  console.log('viewsize', element)
  console.log('viewsize', element.$el.offsetWidth)
  setT

[2021-01-13 16:06] joe223 commented on #51
@Jarweb Hi, Would you mind create a repo or demo to reproduce this issue?

You can use https://stackblitz.com/ , just paste demo link on this comments

[2021-01-15 13:51] lorof opened #52 "typescript?"
[code]

![Image of swiper](https://i.imgur.com/l7R7gks.png)

[2021-01-16 10:28] narasab opened #53 "“[Intervention] Ignored attempt to cancel a touchmove event with cancelable=false”"
**Describe the bug**
When swiping in android webview this error is thrown.
“[Intervention] Ignored attempt to cancel a touchmove event with cancelable=false”

**Information**
 - Tiny-Swiper Version: v2.0.0
 - OS: Android
 - Browser: Android System WebView (Chrome 87)

[2021-01-17 13:54] #52 closed

[2021-01-17 13:55] #50 closed

[2021-01-18 02:48] joe223 commented on #50
Fixed 3d77ec7c10f0b5681fc9c2637d7d9afb79e820d3

[2021-01-18 08:19] eddneal commented on #50
Thank you! This is greatly appreciated.

[2021-01-19 03:32] joe223 opened #55 "Achieve a parallax effect with scroll event"
Hey @joe223 Great to hear that alpha of V2 has been released. So "scroll" is the distance a slide has been moved right? Any ideas how to achieve a parallax effect with that?

_Originally posted by @kilianso in https://github.com/joe223/tiny-swiper/issues/17#issuecomment-755676331_

[2021-01-19 08:05] joe223 commented on #53
Ref: https://github.com/joe223/tiny-swiper/pull/54

[2021-01-19 16:12] artnova-david opened #56 "initialSlide and nextEl navigation"
**Describe the bug**
When passing an index to 'initialSlide' and the index is the last item in the array the 'nextEl' button is not automatically disabled, but it gets disabled after clicking on it.

**Expected behavior**
When initializing Swiper with initialSlide as last index in the array automatically disable the 'nextEl' button.

**Information**
 - Tiny-Swiper Version: [e.g. v2.0.1]
 - OS: [e.

[2021-01-20 02:51] joe223 commented on #56
Hi @artnova-david, problem occurred while `after-slide` event triggered.

Sliders will slide to `initialSlide` after DOM rendered on initialization process. Here is the code show below

https://github.com/joe223/tiny-swiper/blob/99f88d4bf690efab824234ccf326e2260665ed36/packages/tiny-swiper/src/core/index.ts#L123-L128

We should update Button state after slide action just like

https://github.com/j

[2021-01-20 16:38] #53 closed

[2021-01-21 06:01] PhilippMelnikov opened #57 "Does tiny-swiper have equivalent to noSwipingClass from swiper.js API?"
https://swiperjs.com/api/
Swiper has this option called noSwipingClass that defines a class, that disables touch event listeners on elements of the slide with that class. Does tiny-swiper have anything resembling this functionality?

[2021-01-22 07:36] joe223 commented on #57
@PhilippMelnikov Not supported yet 😣

[2021-01-24 02:30] shossk opened #59 "Implementation of the `slidesPerGroup` option"
**Is your feature request related to a problem? Please describe.**
Hello, joe.
I found this library because I was tired of Swiper's complex and large number of dependencies.
It is exactly the best library I could have asked for.
However, I noticed that there is one option missing.
It is `slidesPerGroup`.
I will be very happy to stop using Swiper, which I hate to do.
Have you considered implementin

[2021-01-24 09:46] joe223 commented on #59
@shossk Really appreciate.

That is what I'm concerned with.

The better solution is provide a group of APIs that give us the ability to modify render/translate effect. We can implement `slidesPerGroup` with such APIs in an external plugin. But I have not figure out what this APIs should be yet.

Here is what I'm doing(the API is kinda of babbling)

https://github.com/joe223/tiny-swiper/blob/173c0

[2021-01-24 21:37] Niznikr commented on #48
Here are some of the latest [guidelines](https://w3c.github.io/aria-practices/#carousel) and [examples](https://w3c.github.io/aria-practices/examples/carousel/carousel-1-prev-next.html) for carousels from w3.

[2021-01-27 14:34] frankinedinburgh opened #60 "Disable buttons not working correctly when slider has only 2 slides"
**Describe the bug**
When setting the loop option to false and the slider has no more than 2 slides the previous and next buttons will disable incorrectly. When user navigates to the last slide both navigation buttons are disabled.

The issue occurs in the navigation plugin at the `checkNavBtnDisabledClass`. By updating the condition in
`index > minIndex` to `index >= minIndex` and `index < minInd

[2021-01-28 03:08] shossk commented on #59
@joe223
That's good!
Thanks for taking the time to do this!

[2021-01-30 03:14] joe223 commented on #59
@shossk Just creat a PR if you got other idea😃

[2021-01-30 10:18] joe223 commented on #60
@frankinedinburgh Hi, would you like to create a fix PR？😁

[2021-01-31 14:56] antonioberetini opened #61 "Scroll container"
I am trying to reproduce similar behavior as in swiper.js scroll container as I like Tinny swiper behavior way better. Is it possible to configure bounce on scroll when the page reaches the end of it like this: https://stackblitz.com/edit/local-scroller?file=index.html

I tried to do this in Tinny swiper but I quickly noticed that the canvas just keeps on going when Loop mode is disabled. It doesn

[2021-02-01 02:33] joe223 opened #62 "Configure bounce on scroll when the page reaches the end"
https://github.com/joe223/tiny-swiper/issues/61

[2021-02-02 05:08] #60 closed

[2021-02-02 05:16] joe223 commented on #60
Fixed on `tiny-swiper@2.0.3`, thanks to @frankinedinburgh

[2021-02-03 11:03] cbieser opened #64 "Autoplay Plugin"
**Is your feature request related to a problem? Please describe.**
I want to switch from Swiper to Tiny-Swiper, but I need Autoplay.
Do you have any plans for an official plugin or is there an unofficial plugin?

**Describe the solution you'd like**
Official Plugin

**Additional context**
https://swiperjs.com/swiper-api#autoplay

[2021-02-04 07:33] joe223 commented on #64
Hi @cbieser Check out version `^2.1.0`

Here is the doc https://tiny-swiper.js.org/docs/api/#autoplay

[2021-02-04 08:46] cbieser commented on #64
Hi @joe223 ,
thank you very much!
Could you please add the API methods `start` and `stop`?

[2021-02-04 10:43] joe223 commented on #64
Sure, but it's not too hard. Would you like to create a PR? The basic logic is same with

https://github.com/joe223/tiny-swiper/blob/a7a95e6db5c5735b0e50d87dcdd7fdedfcfb004d/packages/tiny-swiper/src/modules/autoPlay.ts#L83-L93

[2021-02-15 11:30] PhilippMelnikov opened #65 "swiping triggers link"
**Describe the bug**
If slide contains a link, swiping triggers following that link.

**Expected behavior**
swiping without triggering inner link

**Information**
 - Tiny-Swiper Version: v2.1.0
 - OS: linux
 - Browser: chrome

[2021-03-26 12:09] bediu opened #66 "Navigation does not honor loop mode when using only two slides"
**Describe the bug**
Navigation does not honor loop mode when using only two slides, it keeps going back and forth.

**Expected behavior**\
Navigation should honor loop mode when using only two slides, and change the slides according to the navigation element clicked [prev, next]

**Information**
 - Tiny-Swiper Version: lastest
 - OS: linux
 - Browser: chrome 89
 - Reproduce example：
[code]

[2021-03-26 13:19] bediu commented on #66
Note, for anyone that wants a bad temporary hack, add two extra slides that are the same. One issue was that with this solution I had to implement my own navigation plugin using the `after-slide` event.

[2021-03-29 04:31] joe223 commented on #66
@bediu Would you like to create a fix PR😄?

[2021-03-29 14:07] bediu commented on #66
I can try to fix this but I'm not familiar with the codebase. Can you share some information where do I start?

[2021-03-30 16:20] joe223 commented on #66
@bediu Sorry, I'm kinda busy this days so can not reply to you soon.

I thought the problem is caused by `getOffsetSteps`. This function does not return the right value on line 207, thus swiper can not set initial offset for rebounding animation before sliders move.

https://github.com/joe223/tiny-swiper/blob/a7a95e6db5c5735b0e50d87dcdd7fdedfcfb004d/packages/tiny-swiper/src/core/state/operations.t

[2021-04-14 17:54] kmergen commented on #59
I think that should be a native option. We have the option "slidesPerView" then an option "slidesPerSlide" would make sense

[2021-04-24 15:31] harshmandan opened #67 "Make Swiper resizable"
**Describe the bug**
The swiper is not very responsive. I'm making use of this library in my project where the windows can be resized.
Here's' the bug in video format:
https://streamable.com/40xqoa

**Expected behavior**
It should be responsive.

[2021-04-28 02:27] joe223 commented on #67
Hi @harshmandan , Here is a demo may be useful https://github.com/joe223/tiny-swiper/blob/dev/packages/tiny-swiper/demo/resize.html

Would you like to create a Resize plugin ? It should be placed in this directory https://github.com/joe223/tiny-swiper/tree/dev/packages/tiny-swiper/src/modules

[2021-04-29 11:31] harshmandan commented on #67
@joe223 Thanks for the example.
This worked nicely:
[code]

I'll try to create to module as soon as I get the time. Thanks

[2021-04-29 11:31] #67 closed

[2021-04-29 12:34] joe223 commented on #67
Try to add a debounce function to the window resize listener for better performance

pseudocode

[code]

@harshmandan

[2021-06-03 18:08] saudslm commented on #57
ran into a similar issue, I ended us using _**excludeElements**_.

[2021-06-29 19:34] Niznikr opened #69 "TypeScript listed as direct dependency"
**Describe the bug**
TypeScript is specified as a direct dependency even though it is only used for building the package (development).

**Expected behavior**
TypeScript is only specified as a dev dependency.

[2021-07-01 07:25] joe223 commented on #69
@Niznikr Would you mind creating a PR as improvement :) ?

[2021-07-19 22:01] neo773 opened #70 "Breakpoints implementation"
Hi there, I was looking through the Documentation and couldn't find a breakpoint parameter that Swiper offers. The library is literally unusable on mobile without this parameter.

`
breakpoints: {
    320: {
        slidesPerView: 1,
        spaceBetween: 20
    },
    480: {
        slidesPerView: 1,
        spaceBetween: 30
    },
    1112: {
        slidesPerView: 3,
        spaceBetween: 30

[2021-07-30 07:18] chenxingyu350128 opened #71 "your official website can not be open"
as the title

[2021-08-06 14:27] austriker27 commented on #71
I concur. Sure would be nice if this website opened so we could see demos and such: https://tiny-swiper.joe223.com/

[2021-08-09 04:44] joe223 commented on #71
@chenxingyu350128 What a shame, I forgot to renew the domain

[2021-08-09 10:20] joe223 commented on #71
I'm trying to migrate to tiny-swiper.js.org

[2021-08-12 01:42] #71 closed

[2021-09-10 10:34] pryley commented on #70
Why not do something like this?

[code]

[2021-09-11 16:27] pryley commented on #70
@joe223

What about creating an official plugin for breakpoints?

I started a basic implementation but have not tested it. It includes a built-in debounce: https://gist.github.com/pryley/3bc6d2f01aa5b68f829a5fbeb19abbd8

A few caveats:

1. It does not take swiper direction into account
2. You may need to convert to Typescript
3. It assumes that the breakpoints object is in the format above.

[2021-09-17 05:36] joe223 commented on #70
@pryley That's really great！Here are some questions I considered about

1. Try using `env.measure` instead of `element`, avoid access real DOM data in `state` Layer. That's means you are exactly right, `instance.env.measure.viewSize` would be better!
2. Definitely yes
3. I think it's does not matter if treat breakpoints‘s format as a Pact/Convention
4. An option should be better
5. It won't break

[2021-09-17 14:19] pryley commented on #70
@joe223

1. The only reason I didn't use `instance.env.measure.viewSize` was because that value can represent either the width or height depending on the direction of the swiper.
2. You would need to help with this as I'm not familiar with Typescript

Regarding throttle and debounce, it could be useful to provide these as utils if they are only imported as needed. The debounce implementation I use

[2021-09-18 02:27] joe223 commented on #70
@pryley So, the `breakpoints`  is only for horizontal direction right? 🤔

[2021-09-20 14:43] pryley commented on #70
Yes. The resize event is triggered by the window, but the breakpoint size is defined by the swiper width, not the window size.

How would you suggest this otherwise?

[2021-09-22 05:38] joe223 commented on #70
@pryley How about adding a new property of `measure` which means the another dimension of view size and cross with slide direction?

[2021-09-23 07:22] pryley commented on #70
I'm not sure vertical breakpoints would be useful. I think you would be more likely to use a breakpoints feature to _change_ the direction of a swiper rather than to determine if a breakpoint is triggered by vertical or horizontal resizing. The reason measuring by width is more practical is because 90% of all devices that allow you to free-resize a browser window (i.e. desktop devices) have landsc

[2021-09-26 03:11] joe223 commented on #70
@pryley Great, I'll get this done in Oct

[2021-10-24 06:23] proyb6 opened #72 "image width responsive"
Closed

[2021-10-24 06:48] #72 closed, assigned to nobody

[2021-10-25 17:53] snovosel opened #73 "implement pause auto play on hover"
Ideally on web , when autoplay is set to true, there should be an attribute that we can pass to the Swiper class to pause the autoplay when the `mouseenter` event occurs and restart the autoplay when `mouseleave` event occurs, similar to the touch events but for web.

[2021-12-24 10:31] joshauh46 commented on #70
@joe223 Any updates on this?

[2022-01-14 20:19] josemrodrigu opened #74 "Element is generating max index having into account shallow slides"
**Describe the bug**
Having a "infinite" swiper (**loop** mode on) and **resize** enabled, there is an issue on the instance update.
Suddenly, the max index of the instance changes, because Element is taking into account slides with the data-shallow-slider attribute.

**Expected behavior**
The max index of the instance should not be affecteddue to a resize.

**Information**
 - Tiny-Swiper Version:

[2022-01-18 13:26] joe223 commented on #74
https://github.com/joe223/tiny-swiper/pull/75

[2022-01-21 18:12] josemrodrigu commented on #74
@joe223 do you have an expected publication date for this issue?

Thanks!

[2022-01-26 17:41] josemrodrigu commented on #74
@joe223

[2022-01-29 15:05] joe223 commented on #70
Hi @pryley @joshauh46 , sorry for the late reply. `2.2.0` was released. API: https://tiny-swiper.js.org/docs/api#breakpoints. Demo: https://tiny-swiper.js.org/docs/demo#breakpoints

[2022-01-29 15:05] #70 closed

[2022-01-29 15:06] joe223 commented on #74
@josemrodrigu  Sorry for the late reply.

`2.2.0` was released.

API: https://tiny-swiper.js.org/docs/api#breakpoints. Demo: https://tiny-swiper.js.org/docs/demo#breakpoints

[2022-01-29 15:06] #74 closed

[2022-02-08 20:23] josemrodrigu commented on #74
thanks Joe!

[2022-02-10 07:09] TenSketch commented on #64
autoplay link is not working. Kindly describe the steps

[2022-02-11 04:17] joe223 commented on #64
Migrate to https://tiny-swiper.js.org/docs/api/#autoplay

[2022-02-11 05:39] TenSketch commented on #64
Did, but the smooth swipe is not there

[2022-02-11 09:02] joe223 commented on #64
What is smooth swipe?😂 Maybe the same thing with different name?

[2022-02-11 15:27] josemrodrigu opened #77 "Issues with nextTick.ts & SSR"
**Describe the bug**
Since the last version (`2.2.0`), our implementation (with server side rendering) returns the following error:

[code]

Checking nextTick.ts, I noticed that `nextFrame` and `cancelNextFrame` constants are defined outside `Tick()`. Of course, `Tick` is never executed on the server. Now that those connstants are defined at file scope, this bug can see the light.

I'll make a PR

[2022-02-26 00:08] r-aamir opened #78 "RTL support"
Hi, I would like to discuss the possibility of adding RTL support, such as [https://swiperjs.com/demos#rtl](https://swiperjs.com/demos#rtl)
It should either detect `document.body.getAttribute('dir') === 'rtl'` or we can supply a setting in options such as `isRTL: true`

The library is very useful on both smart and desktop devices, except on an OS where the UI is RTL.

[2022-03-03 15:21] meelix opened #79 "pagination module not working for multible swipers"
**Describe the bug**
when having multiple swipers with pagination, all of the bullets get applied to the first element

**Expected behavior**
the bullets should be appended to the correlating bullet container of the current swiper

**Information**
 - Tiny-Swiper Version: v2.2
 - OS: any
 - Browser: any
 - Reproduce example: https://codier.io/creation/rko3oIRg9

[2022-04-04 20:14] josemrodrigu commented on #77
@joe223 Any updates on this issue? do yo have a better solution for this scenario?

Thanks!

[2022-05-19 20:14] themrdanielvp commented on #77
I am also having this issue..

[2022-10-17 11:19] adriangornypl opened #81 "Manipulation plugin"
**Is your feature request related to a problem? Please describe.**
I want to switch from Swiper to Tiny-Swiper, but I need Manipulation plugin. Do you have any plans for an official plugin or is there an unofficial plugin?

**Additional context**
Manipulation API (https://swiperjs.com/swiper-api#manipulation)

[2022-11-18 14:57] Filip1139 opened #82 "Fade effect"
Is there any way to get similar crossfade effect as normal Swiper?

[2022-11-27 10:21] CavellHuang opened #83 "How to prevent user touch？"
It seems that I can't find a way in docs.How can I do it?